<h1>Acerca de Nosotros</h1>
<div class="well">
  <div class="container-fixed">
    
    <div class="row">
      <div class="col-lg-6">
         
        <p>Donec tincidunt consectetur rhoncus. Nam varius arcu eget enim eleifend, eget scelerisque massa porta. Vivamus noommodo nibh, eget mattis dolor. Sed non nisi lacinia, ultrices dui ut, ultrices est. Vestibulum porttitor lectus magna. Fusce vehicula, odio ac blandit tempullel felis dolor faucibus magna, vel commodo sem nisi convallis leo. In sodales lectus in sodales congue. Donec sed massa consequat, dctum arcu ac, cursus tortor. Donec suscipit pulvinar. Duis ac lorem neque.</p>
      </div>
      <div class="col-lg-6">
        <img style="display: block; margin-left: auto; margin-right: auto; height: 250px; width: 250px;" src=<%= image_url('logo.png')%> alt="..." class="img-thumbnail">
        
      </div>
    </div>
  </div>
</div>
