
<div class="jumbotron">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h1>Bienvenido!</h1>
      <p>Registrate y solicita nuestros servicios</p>
     <p><a class="btn btn-primary btn-lg" href="<%= new_user_path%>" role="button">Registrate</a></p>
     <p><a class="btn btn-default btn-sm" href="drivers/new" role="button">Quieres trabajar como chofer?. Haz click aqui.</a></p>
    </div>
    </div>
  </div>
</div>

<div class="well">
  <div class="container-fixed">
    <div class="row">
      <div class="col-lg-12">
        <h2 style="text-align: center;">Viaje seguro a cualquier punto de Lima</h2>
        <p>Donec tincidunt consectetur rhoncus. Nam varius arcu eget enim eleifend, eget scelerisque massa porta. Vivamus noommodo nibh, eget mattis dolor. Sed non nisi lacinia, ultrices dui ut, ultrices est. Vestibulum porttitor lectus magna. Fusce vehicula, odio ac blandit tempullel felis dolor faucibus magna, vel commodo sem nisi convallis leo. In sodales lectus in sodales congue. Donec sed massa consequat, dctum arcu ac, cursus tortor. Donec suscipit pulvinar. Duis ac lorem neque.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <img src="<%= image_url('image_01.jpg')%>" alt="..." class="img-thumbnail">
      </div>
      <div class="col-md-5">
        <img src="<%= image_url('image_02.jpg')%>" alt="..." class="img-thumbnail">
      </div>
    </div>
  </div>
</div>
<p><%= link_to "Accseso Choferes", chofer_login_path, :class => 'btn btn-default btn-md'%></p>